NEXT_PUBLIC_SUPABASE_URL=supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=supabase_publishable_key
NEXT_PUBLIC_SUPABASE_ANON_KEY=supabase_anon_key
OPENAI_API_KEY=your_openai_api_key_here
TEST_GITHUB_TOKEN=your_github_token_here